.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;}
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {color: #06D85F;}
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
nav{
  background-color: #282c34;
  display: flex;
  left: 0;
  font-size: 25px;
  justify-content: "space-between";
  border-bottom: "groove";
  align-items: center;
  
}
.navigator{
  display: flex;
}

li{
  padding: 20px;
 list-style-type: none;

}
li:active{
  background-color: rgb(206, 206, 47);
}

a{
  text-decoration: none;
}

.navigator_item:hover{
  background-color: rgb(206, 206, 47);
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
img{
  max-width: 100%;
  height: auto;
}
.card {
  text-align: center;
}
button{
  width: 100%;
  background-color: black;
  color: white;
}
button:hover{
  color:brown;
  background-color:rgb(219, 75, 8)  ;
}
footer{
  background-color: rgb(153, 153, 57);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
footer p{
  color: white;
  

}

